AWS_ACCESS_KEY_ID=AKIA_CHANGE_ME
AWS_SECRET_ACCESS_KEY=CHANGE_ME_SECRET
AWS_REGION=us-east-1
AWS_SQS_URL=https://sqs.us-east-1.amazonaws.com/SEU-ACCOUNT-ID/toggle-master-events
AWS_DYNAMODB_TABLE=ToggleMasterAnalytics